body {
    background-color: aqua;
    
    text-align: center;
}
#title{
    font-size: 26px;
}
#desciption{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.main{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}